<div class="jumbotron text-center" ng-if="!main.loggedIn">
    <div>
        <h3>Sign up to enter the gamer's social paradise!</h3>
    </div>
    <div>
          <a href="/signup" class="btn btn-primary">Signup</a>
    </div>
     <div>
        <h3>Already a member?</h3>
    </div>
    <div>
          <a href="/login" class="btn btn-primary">Login</a>
    </div>
</div>

<div class="row" ng-if="main.loggedIn">
    <!-- Profile card -->
    <div class="col-md-3 dashboard">
        <div class="profile-card">
            <div class="profile-background-img">
                <a href="#"></a>
            </div>
            <div class="profile-card-content">
                <img src="http://placehold.it/72x72" class="profile-image img-circle" tabindex="-1"/>
                <div class="profile-content">
                    <h2>{{ main.user.username }}</h2>
                    <span>{{ main.user.email }}</span>
                </div>
            </div>
        </div>
    </div>
    <div class="input-group col-md-9 create-ply-area" ng-controller="PlyController as ply">
        <form ng-submit="ply.createPly()">
            <div class="form-group">
                <textarea type="text" class="form-control" placeholder="What played?" ng-model="ply.newPly"></textarea>
                <button type="submit" class="btn btn-primary glyphicon glyphicon-console pull-right">Say</button>
            </div>
        </form>
    </div>
    <div class="bg-success col-lg-9 ply-stream-container" ng-controller="PlyController as ply">
        <ul class="list-group">
            <li ng-repeat="message in ply.plyCollection | reverse" name="ply" class="list-group-item">
                <div>
                    <p>{{ message.content }}</p>
                    <p>{{ message.created }}</p>
                </div>
            </li>
        </ul>
    </div>
</div>

<div class="row" ng-if="main.loggedIn">
    <!---<div class="col-md-15" ng-controller="UserController as user">
        <div class="row">
            <div class="panel panel-success">
                <div style="background-color: transparent;">
                    <div class="panel-heading" style="background-color: rgba(25, 25, 25, 0.6)">
                        <font color="white">You, {{ user.username }} have logged into work in progress zone</font>
                    </div>
            </div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
    </div>-->
</div>
