<div class="container">
  <div class="row">
    <div class="col-sm-6 col-md-4 col-md-offset-4">
      <form class="form-sigin" method="post" ng-submit="login.doLogin()">
          <input type="text" name="username" placeholder="Username" class="form-control" ng-model="login.loginData.username">
          <input type="password" name="password" placeholder="Password" class="form-control" ng-model="login.loginData.password">
          <button type="submit" class="btn btn-success">Login</button>
      </form>
  </div>
</div>
</div>
