<!--If not logged in-->
<div class="jumbotron text-center" ng-if="!main.loggedIn">
    <div>
        <h3>Sign up to enter the gamer's social paradise!</h3>
    </div>
    <div>
          <a href="/signup" class="btn btn-primary">Signup</a>
    </div>
     <div>
        <h3>Already a member?</h3>
    </div>
    <div>
          <a href="/login" class="btn btn-primary">Login</a>
    </div>
</div>
<!--If logged in-->
<div class="row" ng-if="main.loggedIn">
    <!-- Profile card -->
    <div class="col-md-3 dashboard">
        <div class="profile-card">
            <div class="profile-background-img">
                <a href="#"></a>
            </div>
            <div class="profile-card-content">
                <img src="http://placehold.it/72x72" class="profile-image img-circle" tabindex="-1"/>
                <div class="profile-content">
                    <h2>{{ main.user.username }}</h2>
                    <span>{{ main.user.email }}</span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-7 container-main" ng-controller="ProfileController as profile">
        <div class="row">
            <div class="panel" style="background-color: transparent !important;">
                <div class="panel-heading">
                    <form class="form-profile" method="post" ng-submit="profile.updateProfile()">
                        <div>
                            User Name:
                            <input type="text" name="userName" ng-model="main.user.username" ng-trim="false" ng-change="main.user.username = main.user.username.split(' ').join('')">
                        </div>
                        <div>
                            Email:
                            <input type="email" name="email" ng-model="main.user.email" ng-trim="false">
                        </div>
                        <!--<div>
                            Language:
                            <select ng-model="selectedlanguage"
                                ng-change="option(selectedlanguage)"
                                ng-options="i as i.name for i in profile.allLanguages">
                            </select>
                        </div>-->
                        <div>
                            Time zone:
                            <select ng-model="selectedTZ"
                                ng-change="option(selectedTZ)"
                                ng-options="tomeZone as tomeZone.text for tomeZone in profile.allTZ track by tomeZone.offset">
                            </select>
                        </div>
                        <hr />
                        <div>
                            Your games:
                            <tags-input ng-model="profile.profileGames" add-on-paste="true"  add-from-autocomplete-only="true" placeholder="Add a game" on-tag-added="profile.onGameAdded($tag)" on-tag-removed="profile.onGameRemoved($tag)" replace-spaces-with-dashes="false">
                                <auto-complete min-length="3" max-results-to-show="20" debounce-delay="200" source="main.loadGames($query)" select-first-match="false" load-on-down-arrow="true"></auto-complete>
                            </tags-input>
                        </div>
                        <div>
                            Languages you speak:
                            <tags-input ng-model="profile.userLanguages" add-on-paste="true" placeholder="Add a language" on-tag-added="profile.onLanguageAdded($tag)" on-tag-removed="profile.onLanguageRemoved($tag)" replace-spaces-with-dashes="false">
                            </tags-input>
                        </div>
                        <button type="submit" class="btn btn-success">Update</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-2" ng-controller="ProfileController as profile">
        <div class="dashboard-right">
            <ul class="list-group row friends-list">
                <li ng-repeat="friend in profile.profileFriends" class="list-group-item list-group-item-success col-md-12">
                    <div class="friend-box">
                        <img src="http://placehold.it/32x32" class="profile-image" />
                        <span>{{ profile.profileFriendsInfo[friend][0].username }}</span>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
