<div class="container" ng-controller="UserCreateController as user">
  <div class="row">
    <div class="col-sm-6 col-md-4 col-md-offset-4">
      <form class="form-signup" method="post" ng-submit="user.signupUser()">
          <input type="text" name="name" placeholder="Name" class="form-control" ng-model="user.userData.name">
          <input type="text" name="username" placeholder="Username" class="form-control" ng-model="user.userData.username">
          <input type="password" name="password" placeholder="Password" class="form-control" ng-model="user.userData.password">
          <input type="email" name="email" placeholder="Email" class="form-control" ng-model="user.userData.email">
          <input type="text" name="dob" placeholder="DOB" class="form-control" ng-model="user.userData.dob">
          <button type="submit" class="btn btn-danger">Signup</button>
      </form>
  </div>
</div>
</div>
