body {
    background-size: cover;
    background: #303654;
    background: -webkit-linear-gradient(right, #46364B , #303654); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #46364B, #303654); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #46364B, #303654); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom, #46364B, #303654); /* Standard syntax (must be last) */
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.dashboard {
    display: block;
}
.dashboard-right {
    position: fixed;
    display: block;
    height: 100%;
    border-radius: .3em .3em 0 0;
}
.profile-card {
    background: #FFF;
    border-radius: .3em;
    padding: 1px;
}
.profile-card img {
    background-color: #fff;
    border-radius: 6px;
    margin: -30px 0 0 8px;
    padding: 1px;
    vertical-align: bottom;
    max-height: 72px;
}
.container-main {
    background-color: rgba(233, 241, 248, 0.95);
    border-radius: .3em .3em 0 0;
    display: block;
}
.profile-background-img {
    background-color: #2B7BB9;
    border-radius: .3em .3em 0 0;
    background-size: 100%;
    height: 95px;
    width: 100%;
}
.friends-list {
    overflow: auto;
    border-radius: .3em .3em 0 0;
}
.friend-box {
    padding: 15px;
    line-height: 16px;
}
.profile-card-content {
    display: inline-flex;
}
.profile-content {
    padding: 5px;
}
.profile-content h2 {
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    margin: 0;
}

/* ul li overrid */
.dashboard-right > ul {
    list-style: none;
    background-color: #FFF;
    text-align: justify;
    padding: 0;
    margin: 0;
}
.dashboard-right > ul > li {
    display: inline-block;
    background-color: transparent !important;
    width: 100%;
    padding: 0;
}
.dashboard-right > ul:after {
    display: inline-block;
    height: 1px;
}

/* Tags overrid */
tags-input .tags .tag-item {
    background: #777 !important;
    font-size: 85%;
    font-weight: 700;
    color: #91BCF4;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border-radius: .25em;
}

/* Signin form */
.form-sigin input, .form-signup input {
    margin-bottom: 5px;
}
.form-sigin button, .form-signup button {
    width: 100%;
}

/* Navbar overrid */
.navbar-default {
    opacity: 0.5;
    max-height: 50px;
}

/* Home page styles*/
/* Create ply area style */
.create-ply-area {
    background-color: rgba(233, 241, 248, 0.95);
    padding: auto;
    margin-bottom: 10px;
}
