<!DOCTYPE html>
<html ng-app="MyApp">

<head>
    <title>The Gamer's Paradise!</title>
    <base href='/'>

    <!-- Stylesheets here -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ng-tags-input/3.1.1/ng-tags-input.css" />
    <link rel="stylesheet" href="/app/views/stylesheet/style.css" />

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0-rc.0/angular.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.13/angular-route.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/ng-tags-input/3.1.1/ng-tags-input.js"></script>
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>

    <!-- services -->
    <script type="text/javascript" src="/app/services/authService.js"></script>
    <script type="text/javascript" src="/app/services/userService.js"></script>
    <script type="text/javascript" src="/app/services/plyService.js"></script>

    <!-- controllers -->
    <script type="text/javascript" src="/app/controllers/mainCtrl.js"></script>
    <script type="text/javascript" src="/app/controllers/userCtrl.js"></script>
    <script type="text/javascript" src="/app/controllers/profileCtrl.js"></script>
    <script type="text/javascript" src="/app/controllers/plyCtrl.js"></script>

    <script type="text/javascript" src="/app/app.routes.js"></script>
    <script type="text/javascript" src="/app/app.js"></script>

    <!-- Bootstrap V4 -->
    <!--<link rel="stylesheet" href="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/css/bootstrap.css" integrity="sha384-XXXXXXXX" crossorigin="anonymous">
    <script src="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/js/bootstrap.js" integrity="sha384-XXXXXXXX" crossorigin="anonymous"></script>-->

</head>

<body ng-controller="MainController as main">
    <header>
        <div class="navbar navbar-default">
            <div class="container">
                <div class="navbar-header">
                </div>
                <ul class="nav navbar-nav nav-tabs">
                    <li ng-if="main.loggedIn"><a href="/">Home</a></li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li ng-if="!main.loggedIn"><a href="/login">Login</a></li>
                    <li ng-if="!main.loggedIn"><a href="/signup">Signup</a></li>
                    <li ng-if="main.loggedIn"><a href="/profile">Edit profile</a></li>
                    <li ng-if="main.loggedIn"><a href="#">Hello {{ main.user.username }}</a></li>
                    <li ng-if="main.loggedIn"><a href="#">{{ main.user.email }}</a></li>
                    <li ng-if="main.loggedIn"><a href="#" ng-click="main.doLogout()">Logout</a></li>
                    <li ng-if="main.loggedIn">
                        <a href="#" class="glyphicon glyphicon-heart">
                            <form class="form-friend" method="post">
                                <ul class="list-group">
                                    <li ng-repeat="friend in main.user.friendRequests" class="list-group-item">
                                        <div>
                                            <p>{{ friend }}</p>
                                            <button type="button" class="btn btn-primary" ng-click="main.friendAddAccept(friend)" ng-model="friend" name="friend">Add Friend</button>
                                        </div>
                                    </li>
                                </ul>
                            </form>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </header>

    <main class="container">
        <div ng-view></div>
    </main>
</body>

</html>
